body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#soundButton {
    width: 90vh; /* Ajustez la taille selon vos besoins */
    height: 90vh;
    background: url('./imot.png') no-repeat center center;
    background-size: cover;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    padding: 0;
}

#soundButton:hover {
    opacity: 0.8;
}
